/// 1. Note: these height values are repeated in jumbotron.scss
.jumbotron-carousel {
	.carousel {
		min-height: 80vh;

		@include media-breakpoint-up(md) {
			min-height: $s-jumbotron-height;
		}

		@include media-breakpoint-up(lg) {
			// min-height: $s-jumbotron-height + $s-lg;
			min-height: 90vh;
		}
	}

	.carousel-item {
		height: 80vh;

		@include media-breakpoint-up(md) {
			min-height: $s-jumbotron-height;
		}

		@include media-breakpoint-up(lg) {
			// min-height: $s-jumbotron-height + $s-lg;
			min-height: 90vh;
		}
	}

	.img-to-parent {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top center;
	}
}
