/// 1. Note: these height values are repeated in jumbotron.scss
.jumbotron-carousel {
	.carousel {
		min-height: $s-jumbotron-height;
	}

	.img-to-parent {
		height: $s-jumbotron-height;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top center;
	}
}
