.card {
	margin-bottom: $s-md;

	figure {
		margin-bottom: 0;

		img {
			width: 100%;
		}
	}
}

/// 1. Make columns equal height when display blog post cards
.card-blog-post {
	.card-title {
		padding-top: 0;
		padding-left: 0;
		font-size: $h2-font-size;
	}

	.card-body { // 1
		display: flex;
		flex-direction: column;
	}

	p:last-child {
		margin-top: auto;
	}
}

.card-img-overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3 {
		margin-bottom: $s-md;
		font-size: $h1-font-size * 1.5;
	}
}
