.card {
	margin-bottom: $s-md;

	figure {
		margin-bottom: 0;

		img {
			width: 100%;
		}
	}
}
.card-img-overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h3 {
		margin-bottom: $s-md;
		font-size: $h1-font-size * 1.5;
		// background-color: gray('200');
		// text-transform: uppercase;
	}
}
