#wrapper-footer-full {
	background-color: $c-wrapper-footer-widgets-bg;
}

.wrapper-footer-widgets {
	h3 {
  		margin-bottom: $s-md;
  		font-size: $h2-font-size * 1.3;
    }
}

.site-info {
	text-align: center;

	@include media-breakpoint-up(md) {
		text-align: left;
	}
}

.footer-menu {
	text-align: center;

	@include media-breakpoint-up(md) {
		padding-top: 0;
		text-align: left;
	}

	.menu {
		padding-left: 0;
	}

	li {
		margin-left: 0;
		padding-right: $s-xs;
		padding-left: $s-xs;

		@include media-breakpoint-up(md) {
			padding-left: 0;
		}
	}
}
