// Max size for the logo
.img-fluid,
.custom-logo {
	max-width: 14rem; // 240px
	max-height: 5rem;
	transition: all .33s ease-in-out;

	.shrink & {
		max-width: 10rem;
		max-height: 3rem;
		transition: all .33s ease-in-out;
	}
}

.navbar-brand {
	font-family: $headings-font-family;
	font-size: $font-size-base * 1.25;
	text-transform: uppercase;
}
