.section-lead {
	.row {
		align-items: flex-start;
	}
}

.section-newsletter {
	h2 {
		font-size: $h1-font-size;
	}
}

.section-menu {
	h2 {
		font-size: $h2-font-size * 1.5;
		text-align: right;
	}

	strong {
		padding-left: $s-sm;
	}
}
