///
// the bar header that contains the page title
///
.entry-header {
	width: 100%;
	padding-top: $s-lg;
	padding-bottom: $s-lg;
	background-color: $primary;

    .entry-title,
    .entry-meta {
        color: $white;
		text-align: center;
    }
}
